.line-chart-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chart-title {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #0a0a0a;
  margin: 0 0 24px 0;
}

.chart-wrapper {
  width: 100%;
  height: 300px;
  flex: 1;
}

