* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --admin-navbar-height: 65px;
  --admin-sidebar-expanded: 256px;
  --admin-sidebar-collapsed: 72px;
  --admin-sidebar-width: var(--admin-sidebar-expanded);
}

html.admin-sidebar-collapsed {
  --admin-sidebar-width: var(--admin-sidebar-collapsed);
}
html, body {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}

